# Imports

In [14]:
import pandas as pd
import os
import numpy as np

# Load raw data

In [ ]:
raw_df = pd.read_csv('../data/generic_scores_all_2022.csv')
raw_df

,mean,image,path,malecm39,femalecf41,femaleaf48,malehm23,femalecf34_2,femalecf34,femalecm17,...,AWLRHUE8GWXG4,AX7QB1F1M1IDO,AXKHNWMKGT751,AXMPSUNKUBEIL,AXMQBHHU22TSP,AY0758IITCGOZ,AY7RI824FORAE,AYBFVMPV70TDP,AYDHJW4ZG0D38,AZD9Z5B2U40G2
0,1.117647,kuma-kum-GKbPbR0ZAT4-unsplash.jpg,/home/ubuntu/ME-beautydatabase/images/female/c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.000000,pexels-cottonbro-5529905.jpg,/home/ubuntu/ME-beautydatabase/images/male/asi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.000000,pexels-nishant-aneja-2561432.jpg,/home/ubuntu/ME-beautydatabase/images/male/ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.428571,woman-1929550_1920.jpg,NaN,1.0,1.0,2.0,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.500000,pexels-himesh-mehta-3059930.jpg,/home/ubuntu/ME-beautydatabase/images/female/i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2602,9.000000,pexels-pixabay-247322.jpg,/home/ubuntu/ME-beautydatabase/images/female/c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2603,9.375000,women-5930352_1920.jpg,/home/ubuntu/ME-beautydatabase/images/female/a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
2604,9.222222,francesca-zama-1fhl_kmbfAE-unsplash.jpg,/home/ubuntu/ME-beautydatabase/images/female/h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2605,9.625000,sofia--LNdco1UgNY-unsplash.jpg,/home/ubuntu/ME-beautydatabase/images/female/c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
2606,9.333333,pexels-mart¿¬-pardo-1674318.jpg,/home/ubuntu/ME-beautydatabase/images/male/cau...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Drop unnecessary columns

In [16]:
raw_df.drop(columns=[col for col in raw_df.columns if col not in ['mean', 'image']], inplace=True)
raw_df.rename(columns={'mean': 'label'}, inplace=True)
raw_df

         label                                    image
0     1.117647        kuma-kum-GKbPbR0ZAT4-unsplash.jpg
1     1.000000             pexels-cottonbro-5529905.jpg
2     1.000000         pexels-nishant-aneja-2561432.jpg
3     1.428571                   woman-1929550_1920.jpg
4     1.500000          pexels-himesh-mehta-3059930.jpg
...        ...                                      ...
2602  9.000000                pexels-pixabay-247322.jpg
2603  9.375000                   women-5930352_1920.jpg
2604  9.222222  francesca-zama-1fhl_kmbfAE-unsplash.jpg
2605  9.625000           sofia--LNdco1UgNY-unsplash.jpg
2606  9.333333          pexels-mart¿¬-pardo-1674318.jpg

[2607 rows x 2 columns]

# Check for all files

In [17]:
files = [file for file in os.listdir('MEB_cropped_images')]
files.__len__()

2396

In [18]:
raw_df = raw_df[raw_df['image'].isin(files)]
raw_df

         label                                    image
0     1.117647        kuma-kum-GKbPbR0ZAT4-unsplash.jpg
1     1.000000             pexels-cottonbro-5529905.jpg
4     1.500000          pexels-himesh-mehta-3059930.jpg
5     1.888889         pexels-kaniseeyapose-2751061.jpg
7     2.000000     imad-clicks-2_qmEnz7bQ4-unsplash.jpg
...        ...                                      ...
2602  9.000000                pexels-pixabay-247322.jpg
2603  9.375000                   women-5930352_1920.jpg
2604  9.222222  francesca-zama-1fhl_kmbfAE-unsplash.jpg
2605  9.625000           sofia--LNdco1UgNY-unsplash.jpg
2606  9.333333          pexels-mart¿¬-pardo-1674318.jpg

[2386 rows x 2 columns]

# Make gender and race columns

In [19]:
for gender in os.listdir('MEB_images'):
    for race in os.listdir(f'MEB_images/{gender}'):
        for file in os.listdir(f'MEB_images/{gender}/{race}'):
            if file in raw_df['image'].values:
                raw_df.loc[raw_df['image'] == file, 'gender'] = gender
                raw_df.loc[raw_df['image'] == file, 'race'] = race
raw_df

/tmp/ipykernel_10732/3737112613.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_df.loc[raw_df['image'] == file, 'gender'] = gender
/tmp/ipykernel_10732/3737112613.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_df.loc[raw_df['image'] == file, 'race'] = race

         label                                    image  gender        race
0     1.117647        kuma-kum-GKbPbR0ZAT4-unsplash.jpg  female   caucasian
1     1.000000             pexels-cottonbro-5529905.jpg    male       asian
4     1.500000          pexels-himesh-mehta-3059930.jpg  female      indian
5     1.888889         pexels-kaniseeyapose-2751061.jpg    male       asian
7     2.000000     imad-clicks-2_qmEnz7bQ4-unsplash.jpg  female  mideastern
...        ...                                      ...     ...         ...
2602  9.000000                pexels-pixabay-247322.jpg  female   caucasian
2603  9.375000                   women-5930352_1920.jpg  female       asian
2604  9.222222  francesca-zama-1fhl_kmbfAE-unsplash.jpg  female    hispanic
2605  9.625000           sofia--LNdco1UgNY-unsplash.jpg  female   caucasian
2606  9.333333          pexels-mart¿¬-pardo-1674318.jpg    male   caucasian

[2386 rows x 4 columns]

# Scale label to 0-1

In [20]:
raw_df['label'] = (raw_df['label'] - raw_df['label'].min())
raw_df['label'] = raw_df['label'] / raw_df['label'].max()
raw_df

/tmp/ipykernel_10732/1697623435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_df['label'] = (raw_df['label'] - raw_df['label'].min())
/tmp/ipykernel_10732/1697623435.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_df['label'] = raw_df['label'] / raw_df['label'].max()

         label                                    image  gender        race
0     0.013640        kuma-kum-GKbPbR0ZAT4-unsplash.jpg  female   caucasian
1     0.000000             pexels-cottonbro-5529905.jpg    male       asian
4     0.057971          pexels-himesh-mehta-3059930.jpg  female      indian
5     0.103060         pexels-kaniseeyapose-2751061.jpg    male       asian
7     0.115942     imad-clicks-2_qmEnz7bQ4-unsplash.jpg  female  mideastern
...        ...                                      ...     ...         ...
2602  0.927536                pexels-pixabay-247322.jpg  female   caucasian
2603  0.971014                   women-5930352_1920.jpg  female       asian
2604  0.953301  francesca-zama-1fhl_kmbfAE-unsplash.jpg  female    hispanic
2605  1.000000           sofia--LNdco1UgNY-unsplash.jpg  female   caucasian
2606  0.966184          pexels-mart¿¬-pardo-1674318.jpg    male   caucasian

[2386 rows x 4 columns]

In [21]:
raw_df.describe()

             label
count  2386.000000
mean      0.596421
std       0.151046
min       0.000000
25%       0.502415
50%       0.610697
75%       0.705314
max       1.000000

# Save the cleaned data

In [ ]:
raw_df.to_csv('../data/MEB.csv', index=False)